<div class=" bg-dark m-b-30 ">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto text-white p-t-40 p-b-90">
                <h1 class="fw-300 text-center">Todos os Eventos
                </h1>
                <p class="p-t-30 form-dark">
                    <input type="search" placeholder="Busque por eventos" class=" form-control form-control-lg">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
  <div class="row m-b-90">
    <% @events_all.each do |all_event|%>
      <div class="col-lg-3 col-md-6">
        <%= link_to event_path(all_event.event_id), class:'card shadow-lg guide-event m-b-10  bg-primary' do%>
          <div class="card-body text-white">
            <h4 class="card-title"><%= all_event.event.description%></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Itens: <%= all_event.event.select_item_by_events(all_event.event.id).count%></li>
            <li class="list-group-item">Criação: <%= all_event.created_at %></li>
            <li class="list-group-item"><h4 class="text-success"><%= number_to_currency_br(all_event.event.total)%></h4></li>
          </ul>
        <% end %>
        <div class="card shadow-lg">
          <%= link_to 'Remover', all_event.event, method: :delete, class:'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>