<div class="m-b-2">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto text-dark p-t-40 p-b-90">
                <div class="card">
                  <div class="form-group col-12">
                    <p class="p-t-30 form-dark ">
                        <input type="search" placeholder="Busque por eventos" class="form-control text-dark form-control-lg" id="search">
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
  <div class="card m-b-10">
    <div class="card-header">
      <h5 class="m-b-0 h2">
          <i class="mdi mdi-checkbox-intermediate"></i> Meus eventos
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-td-middle">
        <thead class="text-center">
        <tr class="h3">
          <th>Evento</th>
          <th>Data</th>
          <th>Item</th>
          <th>Total</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody class="text-center">
          <% @events_all.each do |all_event|%>
            <tr class="h4 text">
              <td>
                <%= all_event.event.description%>
              </td>
              <td>
                <%= all_event.event.data_event%>
              </td>
              <td>
                <%= all_event.event.select_item_by_events(all_event.event.id).count%>
              </td>
              <td>
                <% if all_event.event.total.present?  %>
                  <%= number_to_currency_br(all_event.event.total)%>
                <% else %>
                  R$ 00,00
                <% end %>
              </td>
              <td class="text-center">
                <% if all_event.event.user.id == current_user %>
                <%= link_to '<i class="mdi mdi-eye"></i>'.html_safe, event_path(all_event.event_id), class:'btn btn-primary'%>
                <%= link_to '<i class="mdi mdi-trash-can-outline"></i>'.html_safe, all_event.event, method: :delete, class:'btn btn-danger' %>
                <% else %>
                <%= link_to '<i class="mdi mdi-eye"></i>'.html_safe, event_path(all_event.event_id), class:'btn btn-primary'%>

                <%= link_to '<i class="mdi mdi-exit-run"></i>'.html_safe, exit_event_url(all_event.event), method: :delete, class:'btn btn-warning' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    <div class="col-md-12"></div>
  </div>
</div>