


<div class=" bg-dark m-b-30 bg-stars">
 <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
        <h1><span class="js-greeting">Evento</span>, <%= @event.description %>.</h1>
        <p class="opacity-75">
         Criado em <%= @event.created_at %> por <%= @event.user.email %>
        </p>
      </div>
      <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
        <div class="text-md-right">
          <div class="">
            <p>
              <button type="button" class="btn btn-lg m-b-15 ml-2 mr-2 btn-primary" data-toggle="modal" data-target="#slideRightModal">
                Participantes
              </button>
               <button type="button" class="btn btn-lg m-b-15 ml-2 mr-2  btn-white" data-toggle="modal" data-target="#new-item-event">
                <i class="mdi mdi-plus"></i> Item
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pull-up">


  <div class="row mx-md-n2">
  <% @event_items.each do |event_item| %>
    <div class="col-lg-3 col-md-6 m-b-30">
      <div class="card card-hover">
        <div class="card-body">
          <div class="text-center ">
              <h2 class="fw-600 p-t-20"><%= event_item.item.description %></h2>
              <div class="text-center">
                <div class=" h3 fw-500">
                  <p class="text-muted fw-600"><%= event_item.item.location %></p>
                </div>
                <div class=" h3 fw-500">
                  <p class="text-muted fw-600"><%= event_item.quantities %> quantidades</p>
                </div>
                <div class=" h3 fw-500">
                <p class="text-muted fw-600">
                <% if event_item.status %>
                  <div class="text-success h6 fw-500">
                    Comprado
                  </div>
                <% else %>
                  <div class="text-danger h6 fw-500">
                    Não comprado
                  </div>
                <% end %>
                </p>
                </div>
                <div class="text-success h5 fw-600">
                <%= number_to_currency_br(event_item.item.value*event_item.quantities) %>
                <br>
                <br>
                <div class="row">
                <div class="col-md-6">
                      <button class="btn btn-lg m-b-15 ml-2 mr-2 btn-success"><i class="mdi mdi-cart-plus"></i></button>
                  </div>
                  <div class="col-md-6">
                  <%= link_to '<i class="mdi mdi-trash-can"></i>'.html_safe, event_item_path(event_item.id), method: :delete, class:'btn btn-lg m-b-15 ml-2 mr-2 btn-danger'%>
                  </div>
                </div>
                <div class="h6 fw-500">
                <br>
                <p class="text-muted fw-600"><%= event_item.item.user.email %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <% end %>
  </div>
</div>

<%# #card_bar_item %>
<div class="modal fade modal-slide-right" id="new-item-event" tabindex="-1" role="dialog" aria-labelledby="slideRightModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="slideRightModalLabel">Novo item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row m-b-90">
          <% @items.each do |item|%>
           <div class="col-lg-6 col-md-10  ">
            <div class="card mt-3">
              <%= form_with(model: @event_item, local: true) do |form| %>
                <%= form.hidden_field(:event_id, value: params[:id])%>
                <%= form.hidden_field(:item_id , value: item.id)%>
                  <div class="card-body text-dark">
                    <h4 class="card-title"><%= item.description %></h4>
                  </div>
                  <div class="card-body text-success">
                    <h4 class="card-title text-center"><%= number_to_currency_br(item.value) %></h4>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= form.text_field :quantities, class:'form-control form-control-lg', placeholder: 'Quantidade' %></li>
                  </ul>
                  <div class="card shadow-lg">
                    <%= form.button '<i class="mdi mdi-plus"></i>'.html_safe,  class:'btn btn-success ' %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-slide-right" id="slideRightModal" tabindex="-1" role="dialog" aria-labelledby="slideRightModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="slideRightModalLabel">Participantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table align-td-middle table-card">
          <tbody>
            <tr>
              <td>
                <div class="avatar avatar-sm ">
                <i class="mdi mdi-account  mdi-48px"></i>
                </div>
              </td>
              <td>Brielle Williamson</td>
              <td>Integration Specialist</td>
              <td>New York</td>
              <td>61</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>