<%= form_with(model: invitation, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.select :user_id, @users.collect { |u| [u.email, u.id] }, html:{class:'from-control select2'} %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, @events.collect { |e| [e.description, e.id] }, html:{class:'from-control select2'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
