<%= form_with(model: item, local: true) do |form| %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, class:'form-control' %>
  </div>

   <div class="field">
    <%= form.label :quantities %>
    <%= form.number_field :quantities, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
