<div class="bg-dark ">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-white p-t-40 p-b-90">
        <h1 class="text-center">
          Itens
        </h1>
        </div>
      <div class="col-md-4 text-white p-t-40 p-b-90">
        <p class="opacity-75 h3">
          Aqui voçê armazena seus itens.
        </p>
        </div>
        <div class="col-md-4 m-auto text-dark p-t-40 p-b-90">
          <div class="card">
            <div class="form-group col-12">
              <p class="p-t-30 form-dark ">
                <input type="search" placeholder="Busque por eventos" class="form-control text-dark form-control-lg" id="search">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pull-up">
  <div class="col-md-12 m-b-30">
    <div class="table-responsive">
      <table class="table align-td-middle table-card">
        <thead class="text-center">
          <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Local</th>
            <th>Açoẽs</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @items.each do |item| %>
            <tr class="text-center text">
              <td><%= item.description %></td>
              <td><%= number_to_currency_br(item.value) %></td>
              <td><%= item.location %></td>
              <td>
              <%= link_to '<i class="mdi mdi-border-color"></i>'.html_safe, edit_item_path(item), class:'btn btn-white' %>
              <%= link_to '<i class="mdi mdi-trash-can"></i>'.html_safe, item, method: :delete, class:'btn btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
