<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white p-t-40 p-b-90">
        <h4 class="">
          Itens
        </h4>
        <p class="opacity-75 ">
          Aqui voçê armazena seus itens.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pull-up">
  <div class="col-md-12 m-b-30">
    <div class="table-responsive">
      <table class="table align-td-middle table-card">
        <thead class="text-center">
          <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Local</th>
            <th>Criador</th>
            <th>Açoẽs</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @items.each do |item| %>
            <tr>
              <td><%= item.description %></td>
              <td><%= number_to_currency_br(item.value) %></td>
              <td><%= item.quantities %></td>
              <td><%= item.location %></td>
              <td><%= item.user.email %></td>
              <td>
              <%= link_to '<i class="mdi mdi-border-color"></i>'.html_safe, edit_item_path(item), class:'btn btn-white' %>
              <%= link_to '<i class="mdi mdi-trash-can"></i>'.html_safe, item, method: :delete, class:'btn btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
