<!DOCTYPE html>
<html>
  <head>
    <title>HelpEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css','data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="sidebar-pinned  pace-done">
    <%= flash_message %>
    <div class="pace  pace-inactive">
      <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner">
      </div>
    </div>
    <div class="pace-activity"></div>
  </div>
    <%= render 'shared/nav_bar' %>
    <main class="admin-main">
    <%= render 'shared/top_nav' %>
      <%= yield %>
    </main>
  </body>
</html>
